<!-- .contact -->
<div id="contact" class="content_2">

<h1 class="h-bloc">Contact - Contact Me</h1>


<div class="row">

    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Contact info</span></h3>-->

                    <div class="title_content" style="float: none;">
                        <div class="text_content">Contact info</div>
                        <div class="clear"></div>
                    </div>

                    <ul>
                        <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Adress:</span> Ann Arbor, MI.<br /><br /></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> r.poornima1986@gmail.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Phone:</span> +1 720 431 7321</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span> www.financialanalyis.net</li>
                    </ul>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

                <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                <div class="title_content tiltle_contacts" style="float: none;">
                    <div class="text_content">Follow me</div>
                    <div class="clear"></div>
                </div>

                    <div id="profile_social">
                        <a href="https://www.linkedin.com/in/poornima11/"><i class="fa fa-linkedin"></i></a>
                        <div class="clear"></div>
                    </div>
            </div>
            <div class="col-md-5">
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Download Resume</span></h3>-->
                    <div class="title_content" style="float: none;">
                        <div class="text_content">My Resume</div>
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="assets/pdf/poornima-resume.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

                        <div class="clear"></div>
                    </div>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>
                <div class="contact-info">
                    <!--<h3 class="main-heading"><span>Download CV</span></h3>-->
                    <div class="title_content" style="float: none;">
                        <div class="text_content">Detailed CV</div>
        <!-- .download_cv -->
        <a class="download" style="margin:0;float: left;" href="assets/pdf/poornima-cv.pdf">
            <span data-hover="Download Detailed CV"><i class="glyphicon glyphicon-download-alt"></i> Download Detailed CV</span>
        </a>
        <!-- /.download_resume -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>  

</div>                                            
</div>
    <!-- End .contact -->
