<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Analysis skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Store/product wise</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Occupancy Analysis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Cost breakdown analysis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Automation</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Financial Analysis Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Evaluation of Financial Performance</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Pricing contract/agreement evaluation</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="assets/pdf/poornima-resume.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

        <!-- .download_cv -->
        <a class="download" style="margin:0;float: left;" href="assets/pdf/poornima-cv.pdf">
            <span data-hover="Download Detailed CV"><i class="glyphicon glyphicon-download-alt"></i> Download Detailed CV</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Director, Finance<span class="duration"><i class="fa fa-calendar color"></i> 2017 - present</span></h5>
                <h6><span class="fa fa-briefcase"></span> High Level Marketing Inc</h6>
                <p>Joined HLM in June, 2017 to run their Finance Department.</p>
            </li>
            <li>
                <h5>Manager, FP & A<span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span>GHS Holdings</h6>
                <p> Joined GHS in 2012 and worked with their clients PJ Boston LLC, A Papa Johns Franchise, Quiznos, The Krystal Co, Crawford Company </p>
                <p> Worked on various projects like Scope Analysis for US based restaurant chain, Dashboard reports, P&L reports, Outsourcing Analysis, Compensation Analysis, Periodic Business Review etc</p>
            </li>
            <li>
                <h5>Manager<span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span>HTA, Atlanta</h6>
                <p> Handling all accounting and finance needs for the organization
                <p> Managing vendor contracts, employee payroll etc.
                <p> Managing day to day operations of the organization, including timesheets, task assignments etc.
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>MBA<span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2010</span></h5>
                <h6><span class="fa fa-book"></span> Great Lakes Institute of Management</h6>
                <p>MBA in General Management and Finance</p>
            </li>
            <li>
                <h5>Bachelor of Commerce<span class="duration"><i class="fa fa-calendar color"></i> 2003 - 2006</span></h5>
                <h6><span class="fa fa-book"></span> Fatima College</h6>
                <p>Bachelor of Commerce - Finance/Accounting</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
