<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Poornima Ramamoorthy</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Poornima Ramamoorthy</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Ann Arbor, MI</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">r.poornima1986@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+1 (720) 431-7321</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">financialanalysis.net</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            I have around 8 years of Financial & Business analysis experience backed up by an MBA in Finance and a Bachelors degree in Commerce/Accounting. I also have an intermediate level certification in Cost accounting. I have experience in various areas like Corporate planning, Corporate Strategy, Accounting, Performance Management, Compensation Analysis, Financial Viability Analysis, Reconciliations, Mergers & Acquisitions - due diligence etc.
        </p>
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            While working on these diverse areas I've had a lot of opportunity to crunch through large sets of data, refer to different industry databases, summarize data through excel etc etc. I'm in my element when trying to solve problems by condensing tons of data into concise and actionable information.

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Specialities</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Financial Consulting</h6>
                    <p>Decisions are hard. They get harder when money is involved. Let me help you make decisions.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Building Financial Dashboards</h6>
                    <p>Do you need dashboards that cover the performance of an entire company? Division by division, region by region, product by product? You got it.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>M&A Advisory</h6>
                    <p>Do the numbers make sense? Thats the first question you need to ask about every deal. Once the numbers align, everything else falls in place.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->

<div class="clear"></div>
</div>
<!-- End .profile -->
